#card-text {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 200px;
    justify-content: space-around;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

h2 {
    font-weight: 800;
}

p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(106, 106, 106);
}