#card {
    margin: 5px;
    display: flex;
    height: 390px;
    width: 250px;
    background-color: #FFF;
    border-radius: 5%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}